{include file="common/header" title="全球首家主播现场" test='全球首家主播现场'/}
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="wrapper">

        </div>
        <div class="banner-button-wrapper">
            <div class="banner-button-left"></div>
            <div class="banner-button-container">
                <div class="banner-button float-left">
                    <a class="promo-popup-button"><img  src="__PUBLIC__/single/mars/imgindex_04.jpg" alt=""></a>
                </div>
                <div class="banner-button float-left">
                    <a class="promo-popup-button"><img src="__PUBLIC__/single/mars/imgindex_06.jpg" alt=""></a>
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="banner-button-right"></div>
        </div>
        <div class="main-heading">
            <a id="modalLink">
                <div class="pink-button-container">
                    <div class="pink-button"></div>
                </div>
            </a>
        </div>
        <div class="main-wrapper">

            <div class="main-content">
                <div>
                    <div class="av-thumbnail av-thumbnail1 float-left">
                        <!--<img class="av-picture" src="__PUBLIC__/single/mars/imgindex_18.jpg" alt="">-->
                    </div>
                    <div class="av-thumbnail av-thumbnail2 float-left">
                        <!--<img class="av-picture" src="__PUBLIC__/single/mars/imgindex_22.jpg" alt="">-->
                    </div>
                    <div class="av-thumbnail av-thumbnail3 float-left">
                        <!--<img class="av-picture" src="__PUBLIC__/single/mars/imgindex_22.jpg" alt="">-->
                    </div>
                    <div class="av-thumbnail av-thumbnail4 float-left">
                        <!--<img class="av-picture" src="__PUBLIC__/single/mars/imgindex_24.jpg" alt="">-->
                    </div>
                    <div class="clear-both"></div>
                </div>
                <div class="av-title"><img class="av-title" src="__PUBLIC__/single/mars/imgindex_27.jpg" alt=""></div>
                <div class="video-thumbnail-container">
                    <div class="video-thumbnail video-thumbnail1 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_31.jpg" alt="">
                    </div>
                    <div class="video-thumbnail video-thumbnail2 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_33.jpg" alt="">
                    </div>
                    <div class="video-thumbnail video-thumbnail3 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_35.jpg" alt="">
                    </div>
                    <div class="video-thumbnail video-thumbnail4 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_39.jpg" alt="">
                    </div>
                    <div class="video-thumbnail video-thumbnail5 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_41.jpg" alt="">
                    </div>
                    <div class="video-thumbnail video-thumbnail6 float-left">
                        <img class="video-image" src="__PUBLIC__/single/mars/imgindex_43.jpg" alt="">
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
        <div class="footer"></div>

        <div class="modal" id="modalElement">
            <div class="modal-dialog">
                <div class="close-heading"><span class="close">&times;</span></div>
                <div class="modal-content">
                    <h2>Test</h2>
                    <ul>
                        <li>1. asdf</li>
                        <li>2. asdf</li>
                        <li>3. asdf</li>
                        <li>4. asdf</li>
                        <li>5. asdf</li>
                        <li>6. sadf</li>
                    </ul>
                </div>
                <div class="modal-content">
                    <h2>Test</h2>
                    <ul>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>sadf</li>
                    </ul>
                </div>
                <div class="modal-content">
                    <h2>Test</h2>
                    <ul>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>sadf</li>
                    </ul>
                </div>
                <div class="modal-content">
                    <h2>Test</h2>
                    <ul>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>asdf</li>
                        <li>sadf</li>
                        <li>sadf</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="video-modal">
            <div id="video-window">
                <video  width="852" height="480" controls>
                    <source src="videos/test.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>


        <div class="sticky-rightbanner" id="sticky-sideber">
            <div>
                <div style="width: 180px;height: 175px;"></div>
                <div class="sticky-rightbanner-bottom"></div>
                <div style="width: 180px;height: 24px;"></div>
                <div class="sticky-rightbanner-bottom"></div>
            </div>
        </div>

        <script src="js/jQuery-1.10.2.min.js"></script>
        <script src="js/accordion/script.js"></script>
        <script src="js/stickybox/jquery.easing.1.3.js"></script>
        <script src="js/stickybox/stickysidebar.jquery.min.js"></script>

        <script>

            $(document).ready(function () {
                function openModal($modal) {
                    var scrollBarWidth = window.innerWidth - document.body.offsetWidth;
                    $('body')
                            .css('margin-right', scrollBarWidth)
                            .addClass('showing-modal');
                    $modal.fadeIn();
                }
                function closeModal($modal) {
                    $('body')
                            .css('margin-right', '')
                            .removeClass('showing-modal');
                    $modal.fadeOut();
                };

                var $modal = $('#modalElement');

                $modal.click(function () {
                    closeModal($modal);
                })
                        .find('.modal-dialog').click(function (event) {
                            event.stopPropagation();
                        });

                // Open the modal when open button is pressed.
                $('.promo-popup-button').click(function (event) {
                    event.preventDefault();
                    openModal($modal);
                });

                $('.close').click(function (event) {
                    event.preventDefault();
                    closeModal($modal);
                });

                $('.av-picture').mouseover(function () {
                    $(this).attr('src','__PUBLIC__/single/mars/imgindex_20.jpg');
                });


                $('.video-thumbnail').click(function () {
                    var scrollBarWidth = window.innerWidth - document.body.offsetWidth;
                    $('body')
                            .css('margin-right', scrollBarWidth)
                            .addClass('showing-modal');
                    $('.video-modal').fadeIn();
                });

                $('.video-modal').click(function () {
                    closeModal($('.video-modal'));
                });


                $(function() {
                    $(".sticky-rightbanner").stickySidebar({
                        timer: 500,
                        easing: "easeInOutSine"
                    });
                });

            });




        </script>
    </div>
</div>
{include file="common/footer"/}